:root {
    --cor-de-fundo: #232126;
    --branco: #F0F2F1;
    --cinza-claro: #D7D7D9;
    --cinza: #81828C;
    --marrom: #594b42;
}


body {
    background-image: url("Jardim\ Web.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    font-family: Kadwa;
}

.header {
    height: 35vh;


}

/*#extraDiv1{
    position:absolute;
    background-color: #F2A20D;
    width: 33%;
    height: 60%;
    border-radius: 100%;
    border-width: 3em;
    border-style: double;
    border-color: var(--cor-de-fundo);
}

/*#extraDiv1::before{
    content: " ";
    position: absolute;
    border-radius: 100%;
    width: 33%;
    height: 60%;
    border: 1em solid green;
}

#extraDiv1{
    position:absolute;
    background-color: #F2A20D;
    width: 33%;
    height: 60%;
    border-radius: 100%;
    border-width: .5em;
    border-style: solid;
    border-color: var(--cor-de-fundo);
    transition: 3s;
    outline: .5em dashed #F2A20D;
}

#extraDiv1:hover{
    position:absolute;
    background-color: var(--cinza);
    width: 33%;
    height: 60%;
    border-radius: 100%;
    border-width: .5em;
    border-style: solid;
    border-color: var(--cor-de-fundo);
    transition: 3s;
    outline: .5em dashed var(--cinza);
    transition: 3s;
}

#extraDiv1:active{
    position:absolute;
    background-color: var(--cor-de-fundo);
    width: 33%;
    height: 60%;
    border-radius: 100%;
    border-style: solid;
    border-color: var(--cor-de-fundo);
    outline: .5em dashed var(--cor-de-fundo);
    transition: 3s;
}
*/
#extraDiv2{
    z-index: 60;
    position: absolute;
    background-color: #000000;
    width: 28%;
    height: 56%;
    border-radius: 100%;
    background-image: radial-gradient(#000000 65%, #FF8311 70%, #FFC195 78%);
}



.header h1{
    color: var(--branco);
    font-size: 70px;
    font-weight: 700;
    margin: 3% 0% 0% 3%;
}

.intro .header h2 {
    color: var(--branco);
    font-size: 23.2px;
    font-weight: 700;
    margin: 1% 0% 0% 3%;
}


.summary {
    height: 65vh;
    display: grid;
    grid-template-columns: 30% 20% 50%;
    grid-template-rows: 10% 35% 25% 20% 10%;
}

.summary .p1{
    color: var(--marrom);
    background-color: var(--cinza-claro);
    font-size: 33px;
    font-weight: 700;
    grid-column-start: 3;
    grid-row-start: 2;
    margin: 0 10% 0 0;
    padding: 2% 2% 0 2%;
}

.summary .p2{
    color: var(--marrom);
    background-color: var(--cinza-claro);
    font-size: 33px;
    grid-column-start: 3;
    grid-row-start: 3;
    margin: 0 10% 0 0;
    padding: 0 2% 2% 2%;
}

.summary .p2 a{
    color: var(--marrom);
    font-size: 35px;
    font-weight: 700;
}

h3 {
    color: var(--branco);
    font-size: 40px;
}

p {
    color: var(--branco);
}

a {
    text-decoration: none;
    color: var(--branco);
}
